html {
	height:100%;
}
body {
	margin:0;
	height:100%;
	background:url(bg.jpg) repeat;
	font-size:12px;
	color:#333333;
	font-family:"微软雅黑","宋体";
	line-height:25px;
	text-align:center;
	word-wrap:break-word;
}
* {
	margin:0px;
	padding:0px;
}
div {
	height:auto;
	overflow:hidden;
}
img {
	border:0;
}
table {
	font-size:12px;
}
input {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}
ul {
	width:100%;
	overflow:hidden;
}
li {
	list-style:none;
	overflow:hidden;
}
h1,h2,h4 {
	font-weight:bold;
	font-size:14px;
	color:#454545;
}
h3 {
	font-weight:bold;
}
.clear {
	clear:both;
}
.blank10 {
	display:block;
	height:10px;
	width:100%;
}
.baidu_input {
	font-size:14px;
	height:26px;
	line-height:25px;
	width:320px;
	padding-top:3px;
	border:5px solid #3FA7CC;
	border-right:0;
	background-color:#ffffff;
	float:left
}
.baidu_submit {
	padding:0;
	border:0;
	width:96px;
	height:40px;
	font-size:14px;
	background:url(baidu_sub.jpg) top left no-repeat;
	border:5px solid #3FA7CC;
	border-left:0;
	float:left
}
#header,#mainbutton,#contentinfo,#friendlink,#copyright {
	margin:0 auto;
	width:962px;
	text-align:left;
}
.top_all {
	height:27px;
	background:#F1F1F1;
	border-bottom:1px solid #DCDCDC
}
.top_all .top {
	width:962px;
	margin:0 auto;
	line-height:28px;
	font-size:12px;
	font-family:"宋体"
}
.top_all .top_left {
	float:left;
}
.top_all .top_right {
	float:right;
}
/*------------ Top -----------------------*/
	#header {
	overflow:hidden;
	height:88px;
}
#header #logo {
	float:left;
	width:480px;
}
#header #banner {
	float:right;
	width:426px;
	padding-top:30px;
}
.nav {
	margin:0 auto;
	background:url(nva_bg.jpg) repeat-x;
	margin-bottom:10px;
}
#mainbutton {
	height:45px;
	width:950px;
	position:relative
}
#mainbutton ul {
	width:950px;
}
#mainbutton li {
	float:left;
	line-height:43px;
	font-size:14px;
	font-weight:bold;
}
#mainbutton li a {
	width:90px;
	text-align:center;
	display:block;
	line-height:43px;
	color:#fff;
	margin-top:1px;
}
#mainbutton li a:hover {
	background:#FFF;
	text-decoration:none;
	color:#1B90D3;
	height:43px;
	line-height:43px;
}
.title {
	width:100%;
	height:30px;
	background:#F1F1F1;
	color:#454545;
	border-bottom:1px solid #DBDBDB;
	line-height:30px;
}
.title b,h1,h2 {
	font-size:14px;
	float:left;
	padding-left:10px;
	color: #07C;
}
#contentinfo {
	padding:0;
	border:0;
}
#maininfobox {
	float:right;
	width:730px;
}
#position {
	overflow:hidden;
	font-size:14px;
	border-bottom:1px solid #B6B6B6;
	margin-bottom:10px;
}
#position .ypos {
	float:left;
	width:530px;
	padding-left:20px;
	background:url(sethome.gif) top left no-repeat;
}
.mainlist {
	width:730px;
	background:#fff;
	border:1px solid #DBDBDB;
}
.arclist {
	padding:10px;
}
.arclist li h3 {
	color:#05c;
}
.arclist li p {
	line-height:23px;
	padding:3px 0;
}
.arclist li a {
	color:#555;
	padding:0 7px;
	text-decoration:none;
}
/* weblink */
.weblink {
	margin-left:5px;
}
.weblink th {
	background:#f5fbfe;
	height:25px;
}
.weblink td {
	border-bottom:dashed 1px #ccc;
	height:35px;
}
#famous {
	width:728px;
	border:1px solid #DBDBDB;
	margin-bottom:10px;
}
.flist {
	width:720px;
	padding:4px;
	background:#fff
}
.flist ul {
	width:720px;
}
.flist li {
	float:left;
	width:131px;
	text-align:center;
	font-size:13px;
	line-height:30px;
	overflow:hidden;
	height:30px;
	padding-left:5px;padding-right:5px;
}
.feleifont {
	color:#3FA7CC;
	font-size:14px;
	font-weight:bold;
}
.feleifont li a {
	color:#C00;
}
#hometable {
	width:728px;
	padding:0;
	border:1px solid #DBDBDB;
	margin-bottom:10px;
	background:#fff
}
#hometable ul {
	width:728px;
	line-height:30px;
	text-align:center
}
#hometable .ul_blue {
	background:#F0F7FE;
}
#hometable li {
	float:left;
	width:146px;
	height:28px;
	color:#0A5EA7;
	overflow:hidden;
	padding-left:5px;padding-right:5px;
}
#hometable .li_title {
	font-weight:bold;
	width:70px;
}
#hometable .li_title  a{
color: #0A5EA7;
}
/*分页列表*/
#webdirlist {
	width:730px;
	margin-bottom:8px;
	background:#fff
}
#webdirlist li {
	height:75px;
	padding:0 10px;
	border-bottom:1px dotted #999;
	padding-top:10px;
}
#webdirlist b {
	font-size:16px;
	height:24px;
	line-height:24px;
}
#webdirlist a {
	color:#3FA7CC;
}
#webdirlist a:hover {
	color:#666;
}
#webdirlist .fileintro {
	font-size:12px;
	padding:10px 0 5px 0;
	color:#454545;
}
/*分页*/
.showpage {
	display:block;
	font-size:12px;
	text-align:left;
	padding:10px 0;
}
.total_page,.jump_page {
	background:#0080c6;
	border:solid 1px #096cb2;
	color:#fff;
	display:block;
	float:left;
	margin-right:5px;
	padding:2px 6px;
}
.first_page,.last_page,.prev_page,.next_page,.pages {
	background:#fff;
	border:1px solid #096cb2;
	color:#486ba2;
	display:block;
	float:left;
	margin-right:5px;
	padding:2px 6px;
	text-decoration:none;
}
.current {
	background:#0080c6;
	color:#fff;
	display:block;
	float:left;
	margin-right:5px;
	padding:3px 6px;
}
/*站点推荐*/
.bestwl {
	padding:0 5px;
}
.bestwl li {
	padding:8px 0 5px 0;
	position:relative;
}
.bestwl li strong {
	display:block;
	font:normal 12px '';
	height:15px;
	overflow:hidden;
	width:210px;
}
.bestwl li strong a {
	color:#06c;
}
.bestwl li p {
	display:block;
	height:35px;
	font-size:10px;
	line-height:18px;
	overflow:hidden;
	width:210px;
}
.bestwl li address {
	display:block;
	height:18px;
	overflow:hidden;
	width:210px;
}
/* artlist */
.artlist {
	margin:5px 0;
}
.artlist li {
	border-bottom:dashed 1px #e8e8e8;
	display:block;
	padding:15px 5px;
}
.artlist li h3 {
	display:block;
	font:normal 14px normal;
}
.artlist li h3 a {
	color:#06c;
}
.artlist li p {
	display:block;
	font:12px '宋体';
	height:20px;
	line-height:23px;
	overflow:hidden;
	padding-top:3px;
}
#mleft {
	float:left;
	width:222px;
}
.infobox {
	width:220px;
	border:1px solid #DBDBDB;
	margin-bottom:10px;
	background:#FFF;
}
.mtitle {
	width:220px;
	line-height:30px;
}
/*左侧分类导航*/
	.list_class {
	width:220px;
	padding:8px 0 8px 0;
}
.list_class li {
	float:left;
	width:73px;
	text-align:center;
}
/*首页新闻*/
	.in1 {
	float:left;
	width:360px;
	background:#FFF;
}
.in2 {
	width:360px;
	float:right;
	background:#FFF
}
.newlist {
	padding:5px;
}
.newlist li {
	padding-left:10px;
	background:url(pix_2.gif) top left no-repeat;
}
.toplist {
	padding:10px;
}
.toplist li {
	overflow:hidden;
	padding:3px 0;
	white-space:nowrap;
	_width:310px;
}
.toplist li span {
	color:#f30;
	padding-right:10px;
}
.toplist li em {
	font:normal 12px Arial;
}
.toplist li em a {
	color:#080;
}
.spand {
	color:#CCC;
	float:right;
	font-size:10px;
}
.spannum {
	color:#F30;
}
/*左侧最新加入公司*/
	.mlist {
	width:210px;
	padding:5px 5px 8px;
	line-height:30px;
}
.mlist li {
	width:200px;
	height:30px;
	padding-left:10px;
	color:#454545;
	overflow:hidden;
}
/*左侧常用工具*/
	.list_tools {
	width:210px;
	padding:8px 5px 8px 5px;
}
.list_tools li {
	float:left;
	width:95px;
	padding-left:10px;
	background:url(pix_2.gif) top left no-repeat;
}
#inweb {
	background:#f8fdff;
	border:solid 1px #dae7ed;
	padding:5px 8px;
	margin-bottom:10px;
}
#inweb h3 {
	float:left;
	height:23px;
	line-height:23px;
	width:60px;
}
.inlist li {
	float:left;
	height:23px;
	line-height:23px;
	margin-right:20px;
	white-space:nowrap;
}
/*------------link-----------*/
	#friendlink {
	width:950px;
	padding:2px 5px;
	font-size:12px;
	line-height:23px;
	border:1px solid #E7E7E7;
	margin-bottom:10px;
	background:#fff
}
/*------------Copyright------------*/
	#copyright {
	font-size:12px;
	padding-top:10px;
	text-align:center;
	border-top:2px solid #0E67A9;
	color:#888888;
	line-height:22px;
}
#copyright a:link {
	color:#888888;
	text-decoration:none;
}
#copyright a:visited {
	color:#888888;
	text-decoration:none;
}
#copyright a:hover {
	color:#0A5EA7;
	text-decoration:underline;
}
#copyright a:active {
	color:#888888;
	text-decoration:none;
}
/*---------- links --------------*/
a:link {
	color:#454545;
	text-decoration:none;
}
a:visited {
	color:#454545;
	text-decoration:none;
}
a:hover {
	color:#3FA7CB;
	text-decoration:underline;
}
a:active {
	color:#454545;
	text-decoration:none;
}
a.title:link {
	color:#110D0A;
	text-decoration:none;
}
a.title:visited {
	color:#110D0A;
	text-decoration:none;
}
a.title:hover {
	color:#3FA7CB;
	text-decoration:underline;
}
a.title:active {
	color:#110D0A;
	text-decoration:none;
}
a.vode_red:link {
	color:#E60000;
	text-decoration:none;
}
a.vode_red:visited {
	color:#E60000;
	text-decoration:none;
}
a.vode_red:hover {
	color:#cc0000;
	text-decoration:underline;
}
a.vode_red:active {
	color:#E60000;
	text-decoration:none;
}
.filelist {
	float:left;
	background:url(pix_1.gif) left top no-repeat;
	padding-left:25px;
}
.more {
	float:right;
	padding-right:10px;
	font-size:14px;
}
.more a {
	font-weight:bold;
	color:#C00;
}
.line {
	margin:8px 0;
	height:1px;
	border-bottom:1px solid #DBDBDB
}
.line2 {
	height:1px;
	clear:both;
	border-bottom:1px dotted #999;
}
#sinfo {
	padding:8px;
}
#sinfo .wt {
	color:#B00;
	font-size:16px;
}
.wthumb {
	background:#fff;
	border:solid 1px #dadada;
	float:left;
	padding:1px;
	width:140px;
}
.siteitem {
	float:left;
	margin-left:10px;
	width:300px;
}
.siteitem li {
	padding-bottom:8px;
}
#relsite {
	background:#fff;
	border:solid 1px #e8e8e8;
}
.srellist li {
	float:left;
	width:222px;
	height:85px;
	padding-left:5px;
	line-height:23px;
	font-size:12px;
	border-bottom:1px dotted #999;
	padding-top:5px;
}
.srellist a {
	color:#3FA7CC;
}
.bh30 {
	height:25px;
	line-height:25px;
	overflow:hidden;
}
#relsite .fileintro {
	font-size:10px;
	line-height:18px;
	color:#454545;
	height:36px;
	overflow:hidden;
}
.visit {
	background:url(visit.gif) no-repeat right;
	color:#080;
	padding-right:15px;
}
.aattr {
	background:#fcfcfc;
	padding:3px;
	text-align:center;
}
.content {
	font:normal 14px/25px normal;
	padding:10px;
}
.catet {
	margin:5px 0;
}
.catet h2 {
	color:#333;
	font:normal 14px;
}
.catet h2 a {
	color:#06c;
	text-decoration:none;
}
.catet h2 a:hover {
	color:#f30;
	text-decoration:underline;
}
.catet h2 em {
	color:#888;
	font:10px normal;
}
.catet ul {
	display:block;
	margin-top:2px;
}
.catet ul li {
	float:left;
	height:23px;
	line-height:23px;
	margin:1px;
	text-indent:30px;
	width:121px;
}
.catet ul li em {
	color:#888;
	font:10px normal;
}
.catet ul li a {
	color:#444;
	text-decoration:none;
}
.catet ul li a:hover {
	color:#f30;
	text-decoration:underline;
}
/* timelink */
.timelink {
	float:right;
}
.timelink a {
	color:#06c;
	font-size:12px;
	font-weight:normal;
	margin:0 5px;
}
a.timelink_bg {
	background:#08c;
	color:#fff;
	padding:3px;
}